:root {
    --font-primery: 'MuseoSansCyrl', 'Arial', sans-serif;
    --color-white: #ffffff;
    --color-black: #003140;
    --color-black-rgba50: rgba(0, 49, 64, 0.5);
    --color-blue: #00b2df;
	--color-red: #e64646;
}
