@import '../../../assets/global-style/mixin';

.cell-textarea {
	--cell-textarea-text-color: #003140;
	--cell-textarea-placeholder: #c4c4c4;

	width: 100%;
	padding: 0;
	font-size: 18px;
	line-height: 140%;
	color: var(--cell-textarea-text-color);
	border: none;
	outline: none;
	background-color: transparent;
	resize: none;

	@include before_768 {
		font-size: 14px;
	}

	&::placeholder {
		font-size: 18px;
		line-height: 140%;
		color: var(--cell-textarea-placeholder);

		@include before_768 {
			font-size: 16px;
		}
	}
}
