<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <section class="cards">
            <div class="wrapper">
                <div class="cards__list">
                    <a href="$" class="cards__item">
                        <div class="cards__img-box">
                            <img src="#" alt="Компонент" class="cards__img" />
                        </div>
                        <div class="cards__info">
                            <div class="cards__name">Кнопки</div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>
